--DROP PROCEDURE [SP_CrossCheck_PcsChecking_and_PackingSlip_by_LotNo]  
CREATE PROCEDURE [SP_CrossCheck_PcsChecking_and_PackingSlip_by_LotNo]  @temptablename varchar(100), @lotcode NVARCHAR(max)  AS  
BEGIN  
	SET NOCOUNT ON;  
	DECLARE @SQL_QUERY NVARCHAR(max);  
	DECLARE @PARAMS NVARCHAR(max);  

	SET @SQL_QUERY = N'Truncate table ' + @temptablename;
	SET @PARAMS = '';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS;
	

	--Piece Checking (+)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1 ) select Lot_Code, Piece_No, Cloth_IdNo, 1, abs(Type1_Meters) from Weaver_ClothReceipt_Piece_Details Where Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and PackingSlip_Code_Type1 <> '''' and Type1_Meters <> 0';
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
		
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Piece_No, Cloth_IdNo, 2, abs(Type2_Meters) from Weaver_ClothReceipt_Piece_Details Where  Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and PackingSlip_Code_Type2 <> '''' and Type2_Meters <> 0 ';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      

	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Piece_No, Cloth_IdNo, 3, abs(Type3_Meters) from Weaver_ClothReceipt_Piece_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and PackingSlip_Code_Type3 <> '''' and Type3_Meters <> 0';
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Piece_No, Cloth_IdNo, 4, abs(Type4_Meters) from Weaver_ClothReceipt_Piece_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and PackingSlip_Code_Type4 <> '''' and Type4_Meters <> 0 ';
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Piece_No, Cloth_IdNo, 5, abs(Type5_Meters) from Weaver_ClothReceipt_Piece_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and PackingSlip_Code_Type5 <> '''' and Type5_Meters <> 0';
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	

	--Packing Slip (-)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Pcs_No, Cloth_IdNo, ClothType_IdNo, -1*abs(Meters) from Packing_Slip_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and Meters <> 0';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	
	--Piece Transfer (-)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select a.Lot_Code, a.Pcs_No, b.ClothFrom_IdNo, a.ClothType_IdNo, -1*abs(a.Meters) from Piece_Transfer_Details a, Piece_Transfer_Head b Where   a.Lot_Code <> '''' and @lotcode like ''%~'' + a.Lot_Code + ''~%'' and a.Piece_Transfer_Code = b.Piece_Transfer_Code and a.Meters <> 0 ';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      

	--Jobwork Piece Delivery (-)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select a.Lot_Code, a.Pcs_No, b.Cloth_IdNo, a.ClothType_IdNo, -1*abs(a.Meters) from JobWork_Piece_Delivery_Details a, JobWork_Piece_Delivery_Head b Where   a.Lot_Code <> '''' and @lotcode like ''%~'' + a.Lot_Code + ''~%'' and a.JobWork_Piece_Delivery_Code = b.JobWork_Piece_Delivery_Code and a.Meters <> 0';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	
	--Cloth Sales Piece Delivery (-)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Piece_No, Cloth_IdNo, PieceType_IdNo, -1*abs(Meters) from ClothSales_Delivery_Piece_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and Meters <> 0';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      
	
	--Piece Excess/Short (-)
	SET @SQL_QUERY = N'Insert into ' + @temptablename + ' ( Name1, Name2, Int1, Int2, Meters1) select Lot_Code, Pcs_No, Cloth_IdNo, ClothType_IdNo, -1*abs(Meters) from Piece_Excess_Short_Details Where   Lot_Code <> '''' and @lotcode like ''%~'' + Lot_Code + ''~%'' and Meters <> 0';   
	SET @PARAMS = N'@lotcode NVARCHAR(max)';   
	EXECUTE sp_executesql @SQL_QUERY, @PARAMS, @lotcode=@lotcode;      


END 
