CREATE PROCEDURE [sp_get_weaverclothreceiptpiecedetails_totalmeters_and_weight_of_mainpieceno]
	@weaver_piece_checking_code varchar(100), 
	@weaver_clothreceipt_code varchar(100), 
	@lot_code varchar(100), 
	@main_pieceno varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
    
	select sum(type1_meters+type2_meters+type3_meters+type4_meters+type5_meters) as totmtrs, sum(weight) as tot_wt from weaver_clothreceipt_piece_details where weaver_piece_checking_code = @weaver_piece_checking_code and weaver_clothreceipt_code = @weaver_clothreceipt_code and lot_code = @lot_code and main_pieceno = @main_pieceno;

END
